<div style="padding: 1%">

    <div> TOKEN: {{token}}</div>

    <hr>

    <div> USER ID: {{id}}</div>

    <hr>
    
    CHAT LIST
    <ul class="list-group">
        <div *ngFor="let chat of chats">
            <li *ngIf="(chat.type==='direct') || (chat.type==='group')" class="list-group-item container-fluid">
                <div class="row">
                    <img *ngIf="chat.image; else square" src="chat.image">
                    <div class="col-11">
                        <div class="row" style="float: right">
                            <small>users: {{chat.users.total}}</small>
                        </div>
                        <div class="row ml-1 mt-2">
                            <a routerLink="{{chat.id}}"><h2>{{chat.title}}</h2></a>
                        </div>
                        <div class="row ml-1 mt-2">
                            <p *ngIf="chat.lastMessage">{{chat.lastMessage.date}}: {{chat.lastMessage.text}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>

    <hr>

    <button (click)="logout()">LOGOUT</button>

    <hr>

    <input placeholder="title" #title type="text">
    <input placeholder="type" #type type="text">
    <input placeholder="users id" #users type="text">
    <button (click)="createChat(title.value, type.value, users.value)">ADD CHAT</button>

    <hr>

    <input type="text" [(ngModel)]="name" placeholder="name">
    <input type="text" [(ngModel)]="lastname" placeholder="lastname">
    <button (click)="updateUser()">UPDATE USER</button>

    <hr>
    PER ORA FUNZIONA SOLAMENTE CON NUMERI DI TELEFONO
    <input type="text" placeholder="phone or email" #contact>
    <button (click)="addContact(contact.value)">ADD CONTACT</button>

</div>



<ng-template #square>
  <div class="col-1" style="height: 100px; background-color: blue"></div>
</ng-template>