<div *ngIf="chat" class="container-fluid row m-0 p-0" style="height: 100vh">
  <div class="chat-box">
    <div class="logo-bar">
      <img src="assets/img/logo-icon-white.svg" class="logo">
    </div>
    <div class="title-bar">
      <div class="row p-0 m-0">
        <img *ngIf="chat.image; else noChatImage" class="chat-image" src="chat.image">
        <div style="margin-left: 5px">
          <div class="chat-title">
            {{chat.title}}
          </div>
          <div class="row p-0" style="margin: 6px 0 0 0; height: 20px;">
            <div *ngFor="let user of firstNineUsers">
              <img *ngIf="user.image; else noUserImageSmall" class="user-image" src="user.imageURI" style="border-radius: 10px;">         
            </div>
            <div *ngIf="chat.users.elements.length>9" class="users">+ {{chat.users.elements.length-9}}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="chat" class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div *ngFor="let message of messages">
        <div *ngIf="message.text !== null">
          <div *ngIf="isNotSameDate(message)" class="date">
            {{getDate(message)}}
          </div>
          <div *ngIf="message.user_id===user_id; else otherUserMessage" class="card position-relative ml-auto user-message">
            <div class="card-body" style="padding: 9px 10px 5px 10px">
              <div class="message" style="text-align: right">
                {{message.text}}
              </div>
              <div class="time" style="text-align: right;">
                {{getTime(message)}}
              </div>
            </div>
          </div>
          <ng-template #otherUserMessage>
            <div class="row m-0">
              <img *ngIf="getChatUserImage(message); else noUserImageMedium" class="user-image" src="getChatUserImage(message)" style="border-radius: 15px;">
              <ng-template #noUserImageMedium>
                  <div style="width: 30px; height: 30px; background-color: blue; margin-left: 5px; border-radius: 15px;"></div>
              </ng-template>
              <div class="card position-relative other-user-message">
                <div class="card-body" style="padding: 5px 10px">
                  <div class="user-id">
                    {{getChatUserName(message.user_id)}}
                  </div>
                  <div class="message">
                    {{message.text}}
                  </div>
                  <div class="time">
                    {{getTime(message)}}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ul style="list-style-type: none; overflow: hidden;">
            <div *ngFor="let user of chat.users.elements">
              <li *ngIf="(user.lastRead===message.id)&&(user.id!==user_id);" style="float: right; display: block; margin-right: 3px;">
                <div *ngIf="user.imageURI; else notUserImageSmall">
                  <img src="user.imageURI" style="width: 20px; height: 20px">
                </div>
                <ng-template #notUserImageSmall>
                  <div style="width: 20px; height: 20px; background-color: blue"></div>
                </ng-template>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="send-bar">
      <div class="row m-0" style="padding: 8px 5px 0 0">
          <img src="assets/img/ic-mic-small.svg" class="medium-image">
          <div class="vertical-separator"></div>
          <input #message type="text" class="input-text" placeholder="Digita un messaggio">
          <img (click)="sendMessage(message.value); message.value=''" class="medium-image ml-auto" src="assets/img/btn-send.svg">
      </div>
    </div>
  </div>

  <div class="central-box" id="central-box" (click)="closeNav()">
    <div class="find-bar">
      <div class="row m-0 p-0">
        <div class="find-input">
          <input #filter class="find-text" placeholder="Cerca">
        </div>
        <img (click)="setFilter(filter.value); filter.value=''" class="find-button medium-image" src="assets/img/ic-search.svg">
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="row m-0 p-0 menu activities">
        <div class="title">
          Checklist
        </div>
        <img class="medium-image add-button ml-auto" src="assets/img/ic-add-bold.svg">
      </div>
      <div class="row p-0 menu files">
        <div class="title">
          File
        </div>
        <form class="row m-0 ml-auto p-0" [formGroup]="form" (ngSubmit)="onSubmit()">      
          <div>
            <input style="height: 30px; margin-top: 10px;" type="file" name="profile" (change)="onFileSelect($event)"/>
          </div>
          <div>
            <button class="medium-image add-button ml-auto" style="border: 0; padding: 0; background-image: url('assets/img/ic-add-bold.svg')" type="submit"></button>
          </div>
        </form>
      </div>
    </div>
    
    <div *ngIf="checklist" class="row m-0 p-0" style="height: calc(100% - 100px)">

      <div class="cards-panel" cdkDropList #todoList="cdkDropList" [cdkDropListData]="checklist" (cdkDropListDropped)="onDrop($event)">
        <mat-card class="card" style="min-height: 46px; margin: 0; padding: 0; padding-bottom: 10px" cdkDropList #todoList="cdkDropList" [cdkDropListData]="checklist" (cdkDropListDropped)="onDrop($event)">
          <div style="padding: 0; min-height: 46px">
            <div class="row b-0 m-0"style="width: 100%; height: 46px; border-bottom: solid 1px #d8d8d8; padding: 8px 5px 8px 22px">
              <input class="font" style="height: 19px; opacity: 0.5; font-size: 16px; letter-spacing: 0.2px; color: #000000; padding: 0; border: 0; margin-top: 6px" placeholder="Fare una delle cose">
              <img class="medium-image ml-auto" src="assets/img/ic-add.svg">
            </div>
          </div>
          <mat-card *ngFor="let element of checklist" cdkDrag style="padding: 0; border: 0; border-radius: 0; box-shadow: none">
            <div *ngIf="element.done==='0'" class="row b-0 m-0" style="width: 100%; min-height: 45px; padding: 10px 5px 0px 5px">
              <img id="done-button" (click)="elementCompleted(element)" class="small-image" src="assets/img/ic-todo-done-button.svg">
              <div class="card" style="margin-bottom: 0; width: calc(100% - 50px); margin-left: 5px; padding: 10px; min-height: 35px; border-radius: 6px; border: solid 1px #d8d8d8;">
                {{element.title}}
              </div>
              <img style="height: 30px; width: 20px; margin-left: 5px;" src="assets/img/ic-todo-done-button-copy.svg">
            </div>
          </mat-card>
          <div *ngIf="atLeastOneDone()">
            <div style="border: 0; width: calc(100% - 22px); height: 1px; background-color: #d8d8d8; margin: 20px 0px 10px 11px; "></div>
            <div *ngFor="let element of checklist | title: searchFilter">
              <div *ngIf="element.done==='1'" class="row b-0 m-0" style="width: 100%; min-height: 45px; padding: 10px 5px 0px 5px">
                <img class="small-image" id="done-button" (click)="elementCompleted(element)" src="assets/img/ic-checklist-done-button.svg">
                <div class="card" style="margin-bottom: 0; width: calc(100% - 50px); margin-left: 5px; padding: 10px; min-height: 35px; border-radius: 6px; border: solid 1px #d8d8d8; text-decoration: line-through; opacity: 0.5">
                  {{element.title}}
                </div>
              </div>  
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cards-panel" style="margin-left: 5px">
        <div *ngFor="let file of chat.files.elements" class="card" style="padding: 10px; min-height: 80px">
          <div class="position-absolute" style="width: 40px; height: 40px; background-color: blue; top: 20px; left: 10px;"></div>
          <div class="card-body" style="padding: 0px 0px 0px 45px">
            <div class="font" style="opacity: 0.5; font-size: 12px; letter-spacing: 0.1px; margin-bottom: 5px;">
              {{file.date}}
            </div>
            <div (click)="downloadFile(file)" class="font" style="font-size: 16px; font-weight: bold; letter-spacing: 0.2px; margin-bottom: 6px; height: 19px;">
              {{file.name}}
            </div>
            <div class="row m-0 p-0">
              <div class="font" style="height: 15px; font-size: 12px; font-stretch: normal; letter-spacing: 0.1px;">
                {{getFileUserName(file.file_id)}}
              </div>
              <div class="font ml-auto" style="font-size: 12px; letter-spacing: 0.1px;">
                {{file.size}} Byte
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
    
  </div>

  <div class="sidebar">
    <button class="small-image team-button side-button" (click)="openTeam()" style="background-image: url('assets/img/ic-team.svg');"></button>
    <div class="text">Team</div>
    <button class="small-image collegate-button side-button" (click)="openCollegate()" style="background-image: url('assets/img/ic-linked.svg');"></button>
    <div class="text">Collegate</div>
  </div>

  <div id="teamMenu" class="side-menu">
    team
  </div>

  <div id="collegateMenu" class="side-menu">
    collegate
  </div>

</div>

<ng-template #noChatImage>
  <div style="width: 50px; height: 50px; background-color: blue;"></div>
</ng-template>
<ng-template #noUserImageSmall>
  <div style="width: 20px; height: 20px; margin-right: 3px; background-color: blue; border-radius: 10px;"></div>
</ng-template>