::-webkit-scrollbar {
    display: none;
}

.chat-box {
    width: 375px;
    height: 100%;
    background-color: #f8f8f8;
}

.central-box {
    min-width: 605px;
    width: calc(100% - 415px);
    height: 100%;
    background-color: beige;
}

.sidebar {
    width: 40px; 
    height: 100%;
    background-color: #f8f8f8;
}

.chat-box .logo-bar {
    height: 50px;
    background-color: #ff744c;
}

.chat-box .logo {
    margin-left: 20px;
    margin-top: 15px;
    height: 20px;
    width: 20px
}

.chat-box .title-bar {
    height: 80px;
    background-color: #ea5f37;
    padding: 15px 20px;
}

.chat-box .title-bar .chat-image {
    width: 50px;
    height: 50px;
}

.chat-box .title-bar .chat-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.chat-box .title-bar .user-image {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.chat-box .title-bar .users {
    opacity: 0.5; 
    font-family: Montserrat; 
    font-size: 12px; 
    font-weight: normal; 
    font-style: normal; 
    font-stretch: normal; 
    line-height: normal; 
    letter-spacing: 0.1px; 
    color: #000000;
}

.chat-box .chat {
    height: calc(100% - 176px);
    overflow-y: auto;
}

.chat-box .chat .date {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px
}

.chat-box .chat .user-message {
    min-height: 45px;
    width: 325px;
    background-color: #ffeaad;
    margin-right: 10px;
    border: 0
}

.chat-box .chat .message {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.chat-box .chat .time {
    opacity: 0.5; 
    font-family: Montserrat; 
    font-size: 11px; 
    font-weight: normal; 
    font-style: normal; 
    font-stretch: normal; 
    line-height: normal; 
    letter-spacing: normal;
}

.chat-box .chat .other-user-message {
    min-height: 56px;
    width: 305px;
    background-color: #ffffff;
    margin-left: 5px;
    border: 0
}

.chat-box .chat .user-image {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.chat-box .chat .user-id {
    opacity: 0.5; 
    font-family: Montserrat; 
    font-size: 11px; 
    font-weight: normal; 
    font-style: normal; 
    font-stretch: normal; 
    line-height: normal; 
    letter-spacing: normal
}

.chat-box .send-bar {
    border: 0; 
    height: 46px;
    background-color:#ffffff;
    border-top: 1px solid #d8d8d8;
}

.medium-image {
    width: 30px;
    height: 30px;
}

.input-text {
    border: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 16px;
    opacity: 0.5;
    color: #000000;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-left: 9px;
}

.small-image {
    width: 20px;
    height: 20px;
}

.team-button {
    margin: 16px 10px 5px 10px
}

.sidebar .text {
    text-align: center;
    font-family: Montserrat;
    font-size: 7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
}

.collegate-button {
    margin: 24px 10px 5px 10px;
}

.find-bar {
    height: 50px;
    background-color: #ffffff;
}

.find-input {
    width: 315px;
    height: 30px;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-left: auto;
}

.find-text {
    width: 281px;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #000000;
    background-color: transparent;
    margin: 6px 17px;
    border: 0;
    padding: 0;
}

.find-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.menu {
    width: calc(50% - 2.5px);
    height: calc(50px);
    background-color: rgba(0, 0, 0, 0.2);
}

.files {
    margin-left: 5px;
}

.central-box .title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 15px;
}

.activities-image {
    margin-top: 15px;
    margin-right: 10px;
    background-color: #d8d8d8;
    border-radius: 10px;
    border: 0;
    background-size: 20px 20px;
}

.vertical-separator {
    width: 1px;
    height: 30px;
    opacity: 0.5;
    background-color: #d8d8d8;
}

.add-button {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #ff744c;
    border-radius: 15px
}

.cards-panel {
    width: calc(50% - 2.5px);
    padding: 10px 10px 0;
    overflow-y: hidden;
}

.card {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
    border: solid 1px #d8d8d8;
}

.yellow-bar {
    width: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffd251;
}

.card-bar {
    right: 0;
    height: 100%;
    width: 29px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f8f8f8;
}

.side-menu {
    display: none;
    position: absolute;
    right: 40px;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.2);
}

.side-button {
    border: 0;
    padding: 0;
    background-color: transparent;
    background-size: 20px 20px;
}

.font {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #000000;
}

#done-button:active {
    background-image: url("/assets/img/ic-checklist-done-button.svg");
}