<div *ngIf="chat" class="container-fluid row m-0 p-0" style="height: 100vh">
  <div class="chat-box">
    <div class="logo-bar">
      <img src="assets/img/logo-icon-white.svg" class="logo">
    </div>
    <div class="title-bar">
      <div class="row p-0 m-0">
        <img *ngIf="chat.image; else noChatImage" class="chat-image" src="chat.image">
        <div style="margin-left: 5px">
          <div class="chat-title">
            {{chat.title}}
          </div>
          <div class="row p-0" style="margin: 6px 0 0 0; height: 20px;">
            <div *ngFor="let user of firstNineUsers">
              <img *ngIf="user.image; else noUserImageSmall" class="user-image" src="user.imageURI" style="border-radius: 10px;">         
            </div>
            <div *ngIf="chat.users.elements.length>9" class="users">+ {{chat.users.elements.length-9}}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="chat" class="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div *ngFor="let message of messages">
        <div *ngIf="message.text !== null">
          <div *ngIf="isNotSameDate(message)" class="date">
            {{getDate(message)}}
          </div>
          <div *ngIf="message.user_id===user_id; else otherUserMessage" class="card position-relative ml-auto user-message">
            <div class="card-body" style="padding: 9px 10px 5px 10px">
              <div class="message" style="text-align: right">
                {{message.text}}
              </div>
              <div class="time" style="text-align: right;">
                {{getTime(message)}}
              </div>
            </div>
          </div>
          <ng-template #otherUserMessage>
            <div class="row m-0">
              <img *ngIf="getChatUserImage(message); else noUserImageMedium" class="user-image" src="getChatUserImage(message)">
              <ng-template #noUserImageMedium>
                  <div style="width: 30px; height: 30px; border-radius: 15px; background-color: blue; margin-left: 5px;"></div>
              </ng-template>
              <div class="card position-relative other-user-message">
                <div class="card-body" style="padding: 5px 10px">
                  <div class="user-id">
                    {{getChatUserName(message.user_id)}}
                  </div>
                  <div class="message">
                    {{message.text}}
                  </div>
                  <div class="time">
                    {{getTime(message)}}
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ul style="list-style-type: none; overflow: hidden;">
            <div *ngFor="let user of chat.users.elements">
              <li *ngIf="(user.lastRead===message.id)&&(user.id!==user_id);" style="float: right; display: block; margin-right: 3px;">
                <div *ngIf="user.imageURI; else notUserImageSmall">
                  <img src="user.imageURI" style="width: 20px; height: 20px; border-radius: 10px;">
                </div>
                <ng-template #notUserImageSmall>
                  <div style="width: 20px; height: 20px; background-color: blue; border-radius: 10px;"></div>
                </ng-template>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="send-bar">
      <div class="row m-0" style="padding: 8px 5px 0 0">
          <img src="assets/img/ic-mic-small.svg" class="medium-image">
          <div class="vertical-separator"></div>
          <input #message type="text" class="input-text" placeholder="Digita un messaggio">
          <img (click)="sendMessage(message.value); message.value=''" class="medium-image ml-auto" src="assets/img/btn-send.svg">
      </div>
    </div>
  </div>

  <div class="central-box" id="central-box" (click)="closeNav()">
    <div class="find-bar">
      <div class="row m-0 p-0">
        <div class="find-input">
          <input #filter class="find-text" placeholder="Cerca">
        </div>
        <img (click)="setFilter(filter.value); filter.value=''" class="find-button medium-image" src="assets/img/ic-search.svg">
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="row m-0 p-0 menu activities">
        <div class="title">
          Attività
        </div>
        <button id="appointmentFilter"class="small-image activities-image ml-auto" (click)="updateAppointmentFilter()" style="background-image: url(assets/img/ic-appointment-white.svg)"></button>
        <button id="addressFilter" class="small-image activities-image" (click)="updateAddressFilter()" style="background-image: url(assets/img/ic-location-white.svg)"></button>
        <div class="vertical-separator" style="margin-top: 10px; margin-right: 10px"></div>
        <button id="startFilter" class="small-image activities-image" (click)="updateStartFilter()" style="background-image: url(assets/img/ic-todo-start-active.svg)"></button>
        <button id="progressFilter" class="small-image activities-image" (click)="updateProgressFilter()" style="background-image: url(assets/img/ic-todo-special-active.svg)"></button>
        <button id="doneFilter" class="small-image activities-image" (click)="updateDoneFilter()" style="background-image: url(assets/img/ic-todo-done-active.svg); margin-right: 20px"></button>
        <button type="button" (click)="open(todoCreation)" class="medium-image add-button" style="background-image: url('assets/img/ic-add-bold.svg'); padding: 0; border: 0;"></button>
      </div>
      <div class="row p-0 menu files">
        <div class="title">
          File
        </div>
        <form class="row m-0 ml-auto p-0" [formGroup]="form" (ngSubmit)="onSubmit()">      
          <div>
            <input style="height: 30px; margin-top: 10px;" type="file" name="profile" (change)="onFileSelect($event)"/>
          </div>
          <div>
            <button class="medium-image add-button ml-auto" style="border: 0; padding: 0; background-image: url('assets/img/ic-add-bold.svg')" type="submit"></button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row m-0 p-0" style="height: calc(100% - 100px)">
      <div class="cards-panel">
        <div *ngFor=" let todo of todos |
                      title: searchFilter |
                      address: addressFilter |
                      appointment: appointmentFilter |
                      start: startFilter |
                      progress: progressFilter |
                      done: doneFilter" 
              class="card position-relative"
              (click)="closeWebSocketConnection()"
              routerLink="{{todo.id}}">
          <div *ngIf="todo.todoInfo.status==='progress'" class="yellow-bar position-absolute h-100"></div>
          <div class="card-body" style="padding: 6px 4px 5px 11px; width: calc(100% - 29px)">
            <div *ngIf="todo.todoInfo.status==='todo'" class="font" style="opacity: 0.5; font-size: 12px; letter-spacing: 0.1px;">
              Da fare
            </div>
            <div class="font" style="font-size: 16px; font-weight: bold; letter-spacing: 0.2px; margin-bottom: 2px;">
              {{todo.title}}
            </div>
            <div class="row" *ngIf="todo.todoInfo.start_date" style="width: 100%; padding: 0; margin: 9px 0 0 0;">
              <img style="width: 20px; height: 20px;" src="assets/img/ic-notification-on-small.svg">
              <div class="font" style="font-size: 12px; letter-spacing: 0.1px; margin-left: 9px;">
                  {{todo.todoInfo.start_date}} | {{todo.todoInfo.end_date}}
              </div>
              <img class="ml-auto" style="width: 20px; height: 20px;" src="assets/img/ic-repeat-on-small.svg">
            </div>
            <div class="row" *ngIf="todo.todoInfo.address" style="width: 100%; padding: 0; margin: 9px 0 0 0;">
              <img style="width: 20px; height: 20px;" src="assets/img/ic-location-small.svg">
              <div class="font" style="font-size: 12px; font-stretch: normal; letter-spacing: 0.1px; margin-left: 9px;">
                  {{todo.todoInfo.address}}
              </div>
            </div>
          </div>
          <div class="position-absolute" style="right: 0; height: 100%; width: 29px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; background-color: #f8f8f8">
            <div style="position: relative; height: 100%; width: 100%">
              <img class="small-image" style="position: absolute; top: 2px; right: 4px;" src="assets/img/ic-todo-done-button.svg">
              <img class="small-image" style="position: absolute; top: 24px; right: 4px;" src="assets/img/ic-edit-small.svg">
              <img class="small-image" style="position: absolute; top: 47px; right: 4px;" src="assets/img/ic-timer-small.svg">
            </div>
          </div>
        </div>
      </div>

      <div class="cards-panel" style="margin-left: 5px">
        <div *ngFor="let file of chat.files.elements | file: searchFilter" class="card" style="padding: 10px; min-height: 80px">
          <div class="position-absolute" style="width: 40px; height: 40px; background-color: blue; top: 20px; left: 10px;"></div>
          <div class="card-body" style="padding: 0px 0px 0px 45px">
            <div class="font" style="opacity: 0.5; font-size: 12px; letter-spacing: 0.1px; margin-bottom: 5px;">
              {{file.date}}
            </div>
            <div (click)="downloadFile(file)" class="font filedownload" style="font-size: 16px; font-weight: bold; letter-spacing: 0.2px; margin-bottom: 6px; height: 19px;">
              {{file.name}}
            </div>
            <div class="row m-0 p-0">
              <div class="font" style="height: 15px; font-size: 12px; font-stretch: normal; letter-spacing: 0.1px;">
                <!-- {{getFileUserName(file.file_id)}} -->
              </div>
              <div class="font ml-auto" style="font-size: 12px; letter-spacing: 0.1px;">
                {{file.size}} Byte
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
    
  </div>

  <div class="sidebar">
    <button class="small-image team-button side-button" (click)="openTeam()" style="background-image: url('assets/img/ic-team.svg');"></button>
    <div class="text">Team</div>
    <button class="small-image collegate-button side-button" (click)="openCollegate()" style="background-image: url('assets/img/ic-linked.svg');"></button>
    <div class="text">Collegate</div>
  </div>

  <div id="teamMenu" class="side-menu">
    team
  </div>

  <div id="collegateMenu" class="side-menu">
    collegate
  </div>

</div>

<ng-template #noChatImage>
  <div style="width: 50px; height: 50px; background-color: blue; border-radius: 25px"></div>
</ng-template>
<ng-template #noUserImageSmall>
  <div style="width: 20px; height: 20px; margin-right: 3px; background-color: blue; border-radius: 10px"></div>
</ng-template>

<ng-template #todoCreation let-modal>
  <div style="width: 534px; border: 1px solid #d8d8d8; border-radius: 10px; background-color: #ffffff">
    <div *ngIf="todoCreationTitle" style="height: 453px">
      <div class="font" style="margin-top: 37px; font-size: 26px; font-weight: bold; line-height: 1.54; letter-spacing: 0.2px; text-align: center; color: #ff744c">
        Descrivi l'attività
      </div>
      <textarea [(ngModel)]="newTodo.title" class="font" placeholder="Fare la cosa giusta" style="width: 434px; height: 324px; margin-top: 26px; margin-left: 50px; font-size: 24px; font-weight: bold; line-height: 1.54; letter-spacing: 0.2px; opacity: 0.5; resize: none" (change)="titleChanged()"></textarea>
    </div>
    <div *ngIf="todoCreationDate" style="height: 574px">
      <div class="font" style="margin-top: 37px; font-size: 26px; font-weight: bold; line-height: 1.54; letter-spacing: 0.2px; text-align: center; color: #ff744c">
        Aggiungi data
      </div>
      <div class="font" style="opacity: 0.5; font-size: 12px; letter-spacing: 0.1px; margin-left: 100px; margin-top: 14px">
        Data
      </div>
      <input class="font" [(ngModel)]="todoDate" type="date" style="border: 0; padding-bottom: 4px; width: 335px; margin-left: 100px; margin-top: 2px; border-bottom: 2px solid black; font-size: 18px; letter-spacing: 0.2px;">
      <div style="height: 1px; margin-top: 11px; background-color: #d8d8d8"></div>
      <div class="row" style="padding: 0; margin: 0; border: 0; width: 100%">
        <input class="font" [(ngModel)]="todoStartTime" type="time" placeholder="Ora di inizio" style="border: 0; padding-bottom: 4px; width: 160px; margin-left: 100px; margin-top: 27px; border-bottom: 2px solid black; font-size: 18px; letter-spacing: 0.2px;">
        <input class="font" [(ngModel)]="todoEndTime" type="time" placeholder="Ora di fine" style="border: 0; padding-bottom: 4px; width: 160px; margin-left: 15px; margin-top: 27px; border-bottom: 2px solid black; font-size: 18px; letter-spacing: 0.2px;">
      </div>
      <div style="height: 1px; margin-top: 20px; background-color: #d8d8d8"></div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0">
        <img src="assets/img/ic-notification-on-small.svg" class="small-image" style="margin-top: 16px;">
        <div class="font" style="font-size: 18px; letter-spacing: 0.2px; margin-top: 15px; margin-left: 10px">Notifica</div>
        <label class="switch ml-auto" style="margin-top: 10px;">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0; margin-top: 10px">
        <div class="font" style="opacity: 0.5; font-size: 14px; letter-spacing: 0.13px;">Ricordami</div>
      </div>
      <div style="height: 1px; margin-top: 20px; background-color: #d8d8d8"></div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0">
        <img src="assets/img/ic-repeat-on-small.svg" class="small-image" style="margin-top: 26px;">
        <div class="font" style="font-size: 18px; letter-spacing: 0.2px; margin-top: 25px; margin-left: 10px">Ripeti</div>
        <label class="switch ml-auto" style="margin-top: 20px;">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0; margin-top: 24px">
        <div class="font" style="opacity: 0.5; font-size: 14px; letter-spacing: 0.13px;">Frequenza</div>
      </div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0; margin-top: 24px">
        <div class="font" style="opacity: 0.5; font-size: 14px; letter-spacing: 0.13px;">Ogni</div>
      </div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0; margin-top: 24px">
        <div class="font" style="opacity: 0.5; font-size: 14px; letter-spacing: 0.13px;">Per le prossime</div>
      </div>
      <div class="row" style="border: 0; padding: 0px 100px; margin: 0; margin-top: 24px">
        <div class="font" style="opacity: 0.5; font-size: 14px; letter-spacing: 0.13px;">Giorno del mese</div>
      </div>
    </div>
    <div *ngIf="todoCreationLocation" style="height: 453px">
      <div class="font" style="margin-top: 37px; font-size: 26px; font-weight: bold; line-height: 1.54; letter-spacing: 0.2px; text-align: center; color: #ff744c">
        Aggiungi luogo
      </div>
      <div id="map" style="height: 211px"></div>
    </div>
    <div *ngIf="todoCreationFiles" style="height: 453px">
      <div class="font" style="margin-top: 37px; font-size: 26px; font-weight: bold; line-height: 1.54; letter-spacing: 0.2px; text-align: center; color: #ff744c">
        Allega file
      </div>
      <label for="dragfile" style="padding: 32px; text-align: center; height: 160px; width: 494px; background-color: #ff744c; margin-top: 20px; margin-left: 20px">
        <p class="font" style="font-size: 18px; font-weight: bold; letter-spacing: 0.2px; color: #ffffff; margin: 0">Aggiungi file</p>
        <img class="medium-image" src="assets/img/ic-add-bold.svg" style="margin-top: 11px;">
        <p class="font" style="font-size: 18px; letter-spacing: 0.2px; color: #ffffff; margin-top: 7px;">Rilascia i file qui</p>
      </label>
      <input #file type="file" id="dragfile" hidden (change)="selectedFile($event)"/>
      <div class="row" style="width: 501px; height: 191px; flex-wrap: wrap; padding: 0; border: 0; margin-left: 20px; overflow-y: scroll">
        <div *ngFor="let file of newTodoFiles" style="height: 161px; width: 161px; margin-right: 6px; margin-bottom: 6px; background-color: antiquewhite; position: relative">
          <button (click)="removeNewTodoFile(file.file_id)" class="small-image" style="position: absolute; right: 5px; top: 5px; border-radius: 10px; background-image: url('assets/img/btn-close-small.svg'); background-position: center; border: 0; padding: 0; background-size: 20px"></button>
          <div class="font" style="color: #ffffff; width: 100%; height: 20px; background-color: rgba(0, 0, 0, 0.6); position: absolute; bottom: 0; padding: 3px; font-size: 10px; font-weight: bold; letter-spacing: 0.1px;">
            {{file.name}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="todoConfirmed" style="height: 454px; width: 100%; position: relative; text-align: center; padding-top: 37px">
      <div class="font" style="font-size: 26px; font-weight: bold; line-height: 1.54; letter-spacing: 0.2px; color: #ff744c">
        Partecipanti
      </div>
      <div class="row p-0" style="margin: 0; position: absolute; top: 97px;">
        <div style="background-color: #f8f8f8;  border-radius: 15px; margin-left: 90px; width: 315px; height: 30px; position: relative">
          <input #todoFilter class="font" placeholder="Cerca" style="border: 0; position: absolute; width: 281px; height: 18px; top: 6px; left: 17px; background-color: transparent">
        </div>
        <img (click)="setTodoFilter(todoFilter.value); todoFilter.value=''" class="medium-image" style="margin-left: 10px" src="assets/img/ic-search.svg">
      </div>
      <div style="position: absolute; top: 137px; height: 1px; width: 100%; background-color: #d8d8d8"></div>
      <div style="height: 316px; width: 100%; position: absolute; top: 137px; padding: 0 80px; overflow-y: scroll">
        <div *ngFor="let chat of chats" >
          <div *ngIf="isChat(chat)" class="row" style="height: 80px; width: 100%; position: relative; margin: 0; padding: 17px 10px; border: 0">
            <img *ngIf="chat.image; else noChatTodoImage" src="chat.image" class="small-image">
            <div style="margin-left: 9px; height: 100%; width: 294px; text-align: left">
              <div class="font" style="font-size: 18px; font-weight: bold; letter-spacing: 0.2px;">{{chat.title}}</div>
              <span class="font" style="font-size: 12px; letter-spacing: 0.11px;">{{chat.users.elements[0].name}}, </span>
              <span class="font" style="font-size: 12px; letter-spacing: 0.11px;">{{chat.users.elements[1].name}} + {{chat.users.total - 2}}</span>
            </div>
            <button (click)="openChatUsers(chat.id)" style="background-color: transparent; height: 16px; width: 16px; position: absolute; top: 32px; right: 10px; background-image: url('assets/img/ic-drop.svg'); background-size: 16px; background-position: center; margin: 0; border: 0; padding: 0;"></button>
          </div>
          <div *ngIf="isChat(chat)" style="height: 1px; width: 310px; margin-left: 65px; background-color: #d8d8d8;"></div>
          <div *ngIf="isOpened(chat.id)" style="height: auto; width: 100%; ">
            <div (click)="selectAllChatUsers(chat)" class="font" style="font-size: 12px; font-weight: bold; text-align: center; letter-spacing: normal; color: #ff744c; margin-top: 13px; margin-bottom: 12px">
              SELEZIONA TUTTI
            </div>
            <div *ngFor="let user of chat.users.elements | userName: searchTodoFilter">
              <div (click)="addTodoUser(user, chat)" class="row" style="background-color: #f8f8f8; height: 50px; position: relative; padding: 0;">
                <img *ngIf="user.imageURI; else noImageCreateTodoChatUser" class="medium-image" style="border-radius: 15px; margin-top: 10px; margin-left: 10px;" src="user.imageURI">
                <div class="font" style="font-size: 12px; letter-spacing: 0.11px; margin-left: 10px; margin-top: 17px;">{{user.name}}</div>
                <div style="position: absolute; bottom: 0; left: 50px; height: 1px; width: calc(100% - 50px); background-color: #d8d8d8"></div>
                <img *ngIf="isAlreadyAdded(user)" style="width: 40px; height: 40px; position: absolute; right: 10px; top: 5px;" src="assets/img/ic-selected.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!todoConfirmed" style="height: 80px; border-top: 1px solid #d8d8d8; position: relative">
      <button (click)="closeModal()" class="font" style="border: 0; padding: 0; margin: 0; background-color: transparent; font-size: 13px; letter-spacing: 0.1px; font-weight: bold; position: absolute; top: 32px; left: 40px;">ANNULLA</button>
      <button id="addDate" (click)="todoCreation_addDate()" style="height: 40px; width: 40px; background-image: url('assets/img/ic-appointment-black.svg'); background-size: 30px 30px; padding: 0; margin: 0; border: 0; background-color: transparent; background-repeat: no-repeat; background-position: center; border-radius: 20px; position: absolute; top: 20px; right: 206px;"></button>
      <button id="addLocation" (click)="todoCreation_addLocation()" style="height: 40px; width: 40px; background-image: url('assets/img/ic-location-black.svg'); background-size: 30px 30px; padding: 0; margin: 0; border: 0; background-color: transparent; background-repeat: no-repeat; background-position: center; border-radius: 20px; position: absolute; top: 20px; right: 151px;"></button>
      <button id="addFiles" (click)="todoCreation_addFiles()" style="height: 40px; width: 40px; background-image: url('assets/img/ic-attachment-black.svg'); background-size: 30px 30px; padding: 0; margin: 0; border: 0; background-color: transparent; background-repeat: no-repeat; background-position: center; border-radius: 20px; position: absolute; top: 20px; right: 96px;"></button>
      <button id="confirmTodo" (click)="todoCreation_confirmTodo()" style="height: 60px; width: 60px; background-image: url('assets/img/ic-ok-bold-white.svg'); background-size: 30px 30px; padding: 0; margin: 0; border: 0; background-repeat: no-repeat; background-position: center; border-radius: 30px; position: absolute; top: 10px; right: 16px;"></button>
    </div>
    <div *ngIf="todoConfirmed" style="height: 80px; border-top: 1px solid #d8d8d8; position: relative">
      <button (click)="closeModal()" class="font" style="border: 0; padding: 0; margin: 0; background-color: transparent; font-size: 13px; letter-spacing: 0.1px; font-weight: bold; position: absolute; top: 32px; left: 40px;">ANNULLA</button>
      <button (click)="createTodo()" class="font" style="width: 255px; height: 40px; background-color: #ff744c; text-align: center; border-radius: 20.5px; margin: 0; padding: 0; border: 0; position: absolute; top: 20px; right: 20px; font-size: 13px; letter-spacing: 0.1px; color: #ffffff; font-weight: bold">CREA TODO</button>
    </div> 
  </div>
</ng-template>

<ng-template #noChatTodoImage>
  <div style="width: 46px; height: 46px; background-color: blue; border-radius: 23px;"></div>
</ng-template>

<ng-template #noImageCreateTodoChatUser>
  <div style="width: 30px; height: 30px; margin-left: 10px; margin-top: 10px; border-radius: 15px; background-color: blue"></div>
</ng-template>

