<div class="rectangle">
  <img src="assets/img/logo-color.svg" class="logo_color">
  <div class="entra_in_doenda">Entra in Doenda</div>
  <img src="assets/img/illu-big-default.png" srcset="assets/img/illu-big-default@2x.png 2x, assets/img/illu-big-default@3x.png 3x" class="illu_big_default">
  <div class="rectangle_5">
      <button (click)="emailLogin()" class="email_button">CON L'EMAIL</button>
      <img src="assets/img/email.svg" class="email">
  </div>
  <div class="rectangle_5 sms_button">
      <button (click)="smsLogin()" class="email_button">CON IL NUMERO DI TELEFONO</button>
      <img src="assets/img/phone.svg" class="email">
  </div>
</div>
