.rectangle {
    border: solid #d8d8d8;
    background-color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.logo_color {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.entra_in_doenda {  
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #ff744c;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.illu_big_default {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.rectangle_5 {
    background-color: #ff744c;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.email {
    position: relative;   
    float: left;
    transform: translate(0, -40%);
}

.email_button {
    position: relative;
    float: left;
    top: 50%;
    transform: translate(0, -50%);
    background-color: transparent;
    border-color: transparent;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #ffffff;
    padding: 0px;
    border: 0px;
}



@media (min-width: 544px) {
    .rectangle {
        width: 242.08px;
        height: 242.08px;
        border-radius: 4.53px;
        border-width: 0.45px;
    }
    .logo_color {
        width: 81.6px;
        height: 18.13px;
        margin-top: 19.04px;
    }
    .entra_in_doenda {
        width: 133.7px;
        height: 18.1px;
        font-size: 11.8px;
        line-height: 0.69px;
        letter-spacing: 0.09px;
        margin-top: 9.07px;
    }
    .illu_big_default {
        width: 111.07px;
        height: 111.07px;
    }
    .rectangle_5 {
        width: 151.87px;
        height: 18.13px;
        border-radius: 9.29px;
    }
    .sms_button {
        margin-top: 4.53px;
        margin-bottom: 26.29px;
    }
    .email {
        width: 13.6px;
        height: 13.6px;
        margin-left: 3.17px;
    }
    .email_button {
        width: 151.87px;
        height: 7.25px;
        font-size: 5.89px;
        letter-spacing: 0.05px;
    }
}

@media (min-width: 768px) {
    .rectangle {
        width: 314.76px;
        height: 314.76px;
        border-radius: 6.4px;
        border-width: 0.64px;
    }
    .logo_color {
        width: 115.2px;
        height: 25.6px;
        margin-top: 26.88px;
    }
    .entra_in_doenda {
        width: 188.8px;
        height: 25.6px;
        font-size: 16.6px;
        line-height: 0.98px;
        letter-spacing: 0.13px;
        margin-top: 12.8px;
    }
    .illu_big_default {
        width: 156.8px;
        height: 156.8px;
    }
    .rectangle_5 {
        width: 214.4px;
        height: 25.6px;
        border-radius: 13.12px;
    }
    .sms_button {
        margin-top: 6.4px;
        margin-bottom: 37.12px;
    }
    .email {
        width: 19.2px;
        height: 19.2px;
        margin-left: 4.48px;
    }
    .email_button {
        width: 214.4px;
        height: 10.24px;
        font-size: 8.32px;
        letter-spacing: 0.06px;
    }
}

@media (min-width: 992px) {
    .rectangle {
        width: 441px;
        height: 441px;
        border-radius: 8.26px;
        border-width: 0.83px;
    }
    .logo_color {
        width: 148.8px;
        height: 33.06px;
        margin-top: 34.72px;
    }
    .entra_in_doenda {
        width: 243.8px;
        height: 33.1px;
        font-size: 21.5px;
        line-height: 1.27;
        letter-spacing: 0.17px;
        margin-top: 16.53px;
    }
    .illu_big_default {
        width: 205.53px;
        height: 205.53px;
    }
    .rectangle_5 {
        width: 276.93px;
        height: 33.07px;
        border-radius: 16.95px;
    }
    .sms_button {
        margin-top: 8.27px;
        margin-bottom: 47.95px;
    }
    .email {
        width: 24.8px;
        height: 24.8px;
        margin-left: 5.79px;
    }
    .email_button {
        width: 276.93px;
        height: 13.23px;
        font-size: 10.75px;
        letter-spacing: 0.08px;
    }
}

@media (min-width: 1200px) {
    .rectangle {
        width: 534px;
        height: 534px;
        border-radius: 10px;
        border-width: 1px;
    }
    .logo_color {
        width: 180px;
        height: 40px;
        margin-top: 42px;
    }
    .entra_in_doenda {
        width: 295px;
        height: 40px;
        font-size: 26px;
        line-height: 1.54;
        letter-spacing: 0.2px;
        margin-top: 20px;
    }
    .illu_big_default {
        width: 245px; 
        height: 245px;
    }
    .rectangle_5 {
        width: 335px;
        height: 40px;
        border-radius: 20.5px;
    }
    .sms_button {
        margin-top: 10px;
        margin-bottom: 58px;
    }
    .email {
        width: 30px;
        height: 30px;
        margin-left: 7px;
    }
    .email_button {
        width: 335px;
        height: 16px;
        font-size: 13px;
        letter-spacing: 0.1px;
    }

}

